<app-siderbar-admin>
    <div class="container">
        <div class="page-inner">
          <div class="container">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Liste des demandes</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Libelle </th>
                          <th> Description </th>
                          <th> Montant </th>
                          <th> Date</th>
                          <th> Statut </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td> 02312 </td>
                          <td> $14,500 </td>
                          <td> Dashboard </td>
                          <td> Credit card </td>
                          <td>
                            <div class="btn btn-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
             
        </div>
    </div>
            
              
              
            
</app-siderbar-admin>

