<app-sidebar-admin>
    <main id="main" class="main">
        <section class="section">
            <div class="row align-items-top">
                <div class="container">
                    <div class="page-inner">

                      <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Modifier un utilisateur</h4>
                            <br>
                            <form class="forms-sample" *ngIf="user">
                              <div class="form-group">
                                <label for="inputNanme4" class="form-label">Matricule</label>
                                <input type="text" class="form-control" id="exampleInputName1"  [(ngModel)]="user.matricule" name="matricule">
                              </div>
                              <br>
                                <div class="form-group">
                                    <label for="inputNanme4" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="exampleInputName1"  [(ngModel)]="user.nom" name="nom">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="inputNanme4" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" id="exampleInputName1" [(ngModel)]="user.prenom" name="prenom">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="inputNanme4" class="form-label">Le solde pharmacie</label>
                                    <input type="number" class="form-control" id="exampleInputName1"  [(ngModel)]="user.solde_pharmacie" name="solde_pharmacie">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="inputNanme4" class="form-label">Le solde frais médicaux</label>
                                    <input type="number" class="form-control" id="exampleInputName1"  [(ngModel)]="user.solde_consultation" name="solde_consultation">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="fonctionSelect" class="col-form-label">Sélectionner une fonction</label>
                                    <select id="fonctionSelect" class="form-select" [(ngModel)]="user.fonction_id" name="fonction_id">
                                      <option *ngFor="let fonction of fonctions" [value]="fonction.id">{{ fonction.libelle }}</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="siteSelect" class="col-form-label">Sélectionner un site</label>
                                    <select id="siteSelect" class="form-select" [(ngModel)]="user.site_id" name="site_id">
                                      <option *ngFor="let site of sites" [value]="site.id">{{ site.libelle }}</option>
                                    </select>
                                  </div>
                                <br>
                              <button type="submit" class="btn btn-primary me-2" (click)="Save_updated()" > Modifier </button>
                            </form>
                          </div>
                        </div>
                      </div>   
                    </div>
                </div>  
            </div>
        </section>
    </main><!-- End #main -->   
</app-sidebar-admin>


