<app-sidebar-admin (searchPerformed)="handleSearchResults($event)">
    <main id="main" class="main">
        <section class="section">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">La liste des remboursements pour la pharmacie</h5>
                        <button class="btn btn-danger btn-round" data-bs-toggle="modal" data-bs-target="#addRowModal" (click)="Pdf_remboursement_pharmacie()">
                          <i class="fa fa-download"></i>
                            Générer l'état
                        </button>
                          <br>
                          <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Libellé</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Date du remboursement</th>
                                    <th scope="col">Statut du remboursement</th>
                                    
                                </tr>
                            </thead>
                            <tbody *ngFor="let pharmacie of pharmacies;">
                                <tr  *ngIf="pharmacie.statut_demande == 'validé'">
                                    <td>{{pharmacie.date_nom}}</td>
                                    <td>{{pharmacie.data_prenom}}</td>
                                    <td>{{pharmacie.libelle}}</td>
                                    <td>{{pharmacie.description}}</td>
                                    <td>{{pharmacie.montant_demande}}</td>
                                    <td>{{pharmacie.created_at}}</td>
                                    <td><span class="badge bg-danger"> Remboursée</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main --> 
</app-sidebar-admin>

