<app-sidebar-admin  (searchPerformed)="handleSearchResults($event)">
    <main id="main" class="main">

        <section class="section">
                <div class="page-inner">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        
                      </div>
                      <div class="card-body">
                       

                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th> Libelle </th>
                                <th style="width: 10%">Action</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th> Libelle </th>
                                <th>Action</th>
                              </tr>
                            </tfoot>
                            <tbody *ngFor="let fonction of fonctions; ">
                              <tr>
                                <td>{{fonction.libelle}} </td>
                               
                                <td>
                                  <div class="form-button-action">
                                    <button
                                      type="button"
                                      data-bs-toggle="tooltip"
                                      title=""
                                      class="btn btn-link btn-primary btn-lg"
                                      data-original-title="Edit Task" (click)="Modifier_fonction(fonction.id)"
                                    >
                                      <i class="fa fa-edit"></i>
                                    </button>
                                    <button
                                      type="button"
                                      data-bs-toggle="tooltip"
                                      title=""
                                      class="btn  btn-outline-danger"
                                      data-original-title="Remove" (click)="Supprimer_fonction(fonction.id)"
                                    >
                                      <i class="fa fa-times"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
           
                </div>
            
        </section>

      </main><!-- End #main --> 
</app-sidebar-admin>
