<app-sidebar-admin>
  <main id="main" class="main">
    <section class="section">
      <div class="row align-items-top">
        <div class="container">
            <div class="page-inner">

              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Demande de remboursement pour la pharmacie </h4>
                    <br>
                    <form class="forms-sample" [formGroup]="pharmacieForm">
                      <div *ngIf="mess" class="alert alert-success">
                        {{ mess }}
                      </div>
                        <div class="form-group" *ngIf="sites.length>1">
                          <label for="roleSelect" class="col-form-label">Sélectionner un site <span class="text-danger">*</span></label>
                          <select id="roleSelect" class="form-select" [(ngModel)]="selectedSite" formControlName="site_id">
                              <option *ngFor="let site of sites;" [value]="site.id">{{ site.libelle }}</option>
                          </select>
                        </div>
                        <br>
                        <div *ngIf="message" class="text-danger" role="alert">
                          *{{ message }}
                        </div>
                        <small *ngIf="pharmacieForm.controls['montant_demande'].touched && pharmacieForm.controls['montant_demande'].hasError('required')" class="text-danger">* Le montant est requis</small>
                        <div class="form-group">
                            <label for="inputNanme4" class="form-label">Montant de la demande<span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="exampleInputName1"  formControlName="montant_demande">
                        </div>
                        <br>
                        <br>
                      <button type="submit" class="btn btn-primary me-2"(click)="Ajouter_pharmacie()" >Soumettre</button>
                    </form>
                  </div>
                </div>
              </div>   
            </div>
        </div>  
      </div>
            
    </section>

  </main><!-- End #main --> 
</app-sidebar-admin>
