<app-sidebar-admin (searchPerformed)="handleSearchResults($event)">
    <main id="main" class="main">
        <section class="section">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">La liste des demandes de remboursement pour les frais médicaux</h5>
                        <div class="row mb-4">
                            
                            <div class="col-sm-10">
                                <select class="form-select form-select-sm w-25" aria-label="Default select example"#sortSelect (change)="Trier_liste_consultation(sortSelect.value)">
                                    <option selected>Afficher en fonction de </option>
                                    <option value="validé">Demande validée</option>
                                    <option value="non valide">Demande non validée</option>
                                    
                                </select>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Libellé</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Date de la demande</th>
                                    <th scope="col">Statut de la demande</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let consultation of consultations;">
                                <tr>
                                    <td>{{consultation.date_nom}}</td>
                                    <td>{{consultation.data_prenom}}</td>
                                    <td>{{consultation.libelle}}</td>
                                    <td>{{consultation.description}}</td>
                                    <td>{{consultation.montant_demande}}</td>
                                    <td>{{consultation.created_at}}</td>
                                    <td><span class="badge bg-success"> {{consultation.statut_demande}}e</span></td>
                                    <td *ngIf="consultation.statut_demande == 'non validé'" type="button">
                                        <span class="badge bg-danger"  (click)="Remboursement_consultation(consultation.id)">Rembourser</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main --> 
</app-sidebar-admin>
