

    
	
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
        <!-- top-area Start -->
        <header class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

                    <div class="container">

                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button 
                                type="button" 
                                class="navbar-toggle" 
                                (click)="toggleMenu()"
                                [attr.aria-expanded]="isMenuOpen" 
                                aria-controls="navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <img class="navbar-brand" height="50" src="../../../../assets/images/logo.png" alt="">
                        </div><!--/.navbar-header-->
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div 
                            class="collapse navbar-collapse menu-ui-design" 
                            id="navbar-menu" 
                            [ngClass]="{ 'in': isMenuOpen }">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="smooth-menu active"></li>
                                <li class="smooth-menu"><a href="">Accueil</a></li>
                                <li class="smooth-menu"><a href="#tutoriel" (click)="scrollToSection('tutoriel')" >Tutoriels</a></li>
                                <li class="smooth-menu"><a href="#guide" (click)="scrollToSection('guide')">Guides</a></li>
                                <li class="smooth-menu"><a href="#propos" (click)="scrollToSection('propos')">A propos</a></li>
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                <!-- End Navigation -->
            </div><!--/.header-area-->

            <div class="clearfix"></div>
        </header><!-- /.top-area-->
        <!-- top-area End -->
	
        <!--welcome-hero start -->
        <section id="welcome-hero" class="welcome-hero">
            <video autoplay muted loop class="background-video">
                <source src="../../../../assets/video/welcome.mp4" type="video/mp4">
                Votre navigateur ne supporte pas les vidéos HTML5.
            </video>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="header-text">
                            <a href="/login">Accédez à la plateforme</a>
                        </div><!--/.header-text-->
                    </div><!--/.col-->
                </div><!-- /.row-->
            </div><!-- /.container-->
        </section>
<!--/.welcome-hero-->
        <!--welcome-hero end -->

        <!--about start -->
        <section id="tutoriel" class="about">
            <div class="section-heading text-center">
                <h2>Tutoriels</h2>
            </div>
            <div class="container">
                <div class="about-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-about-txt">
                                <h3>
                                    Accès et Gestion des Remboursements : Espace utilisateur.
                                </h3>
                                <p>
                                    Après authentification, l'utilisateur accède à une interface dédiée, lui offrant la possibilité de soumettre des demandes de remboursement pour les frais de pharmacie et de consultation. Depuis son tableau de bord, il peut consulter en temps réel son solde disponible pour chaque catégorie et s'assurer que toute demande respecte la condition que le montant demandé soit inférieur ou égal au solde disponible.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="single-about-img">
                                <img src="../../../../assets/images/logo.png" alt="profile_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="container">
                <div class="about-content">
                    <div class="row">
                        <!-- Première colonne avec un style directement appliqué -->
                        <div class="col-sm-5" style="margin-right: 20px;">
                            <div class="single-about-img">
                                <img src="../../../../assets/images/logo.png" alt="profile_image">
                            </div>
                        </div>

                        <!-- Deuxième colonne avec un style pour ajuster l'espacement -->
                        <div class="col-sm-6" style="margin-left: 69px;">
                            <div class="single-about-txt">
                                <h3>
                                    Accès et Gestion des Remboursements : Espace Comptable.
                                </h3>
                                <p>
                                    Après authentification, le comptable accède à un tableau de bord offrant une vue globale des demandes de remboursement en attente de validation. Il dispose des fonctionnalités nécessaires pour examiner, valider ou rejeter les demandes, ainsi que pour gérer les remboursements. Dans le cadre de cette gestion, le comptable peut créer un état, auquel tous les remboursements en attente seront automatiquement associés. La gestion des états permet également de consulter les états créés, d’analyser les remboursements associés à chacun, et de générer des impressions des données de remboursement pour archivage ou présentation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


           

        </section><!--/.about-->
        <!--about end -->
		
        <!--education start -->
        <section id="guide" class="education">
            <div class="section-heading text-center">
                <h2>Guides utilisateurs</h2>
            </div>
            <div class="container">
                <div class="education-horizontal-timeline">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <a href="../../../../assets/files/Guide1.pdf" download>
                                        <img src="../../../../assets/images/note1.webp" alt="profile_image" width="100px" height="100px">
                                    </a>
                                    
                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title">
                                            Guide utilisateur
                                        </h4>
                                        <p class="description">
                                            Cliquez sur l'image pour télécharger le guide utilisateur pour les utilisateurs simples .
                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <a href="../../../../assets/files/guide2.pdf" download>
                                        <img src="../../../../assets/images/note2.webp" alt="profile_image" width="100px" height="100px" >
                                    </a>
                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title">
                                            Guide Comptable
                                        </h4>
                                        <p class="description">
                                            Cliquez sur l'image pour télécharger le guide utilisateur pour les comptables.
                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <a href="../../../../assets/files/guide3.pdf" download>
                                        <img src="../../../../assets/images/logo4.png" alt="profile_image" width="105px" height="105px">
                                    </a>
                                    
                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal spacial-horizontal-line
                                    "></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title">
                                            Guide Administrateur
                                        </h4>
                                        <p class="description">
                                            Cliquez sur l'image pour télécharger le guide utilisateur pour les administrateurs.
                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!--/.education-->
        <!--education end -->

       

       

        <!--contact start -->
        <section id="propos" class="contact">
            <div class="section-heading text-center">
                <h2>A Propos</h2>
            </div>
            <div class="container">
                <div class="contact-content">
                    <div class="row">
                        <div class="col-sm-12" >
                            <div class="single-about-txt">
                                <h3 style="text-align: center;">
                                    Pourquoi cette application <span>?</span>
                                </h3>
                                <p>
                                    Les processus manuels de gestion des demandes de remboursement sont souvent source de confusion, de retards et d'erreurs. Cette application a été conçue pour résoudre ces problématiques en offrant une solution centralisée et transparente. Elle met fin aux lourdeurs administratives, réduit les délais de traitement, et garantit une traçabilité complète des demandes.<br>

                                    L'absence de visibilité sur l'état des remboursements est une frustration courante pour les utilisateurs. Avec cette application, chacun peut suivre en temps réel l'évolution de ses demandes, assurant une transparence totale et renforçant la confiance entre les parties.<br>

                                    Elle répond également aux défis liés à l'organisation et à l'archivage des demandes. En permettant un accès simplifié aux historiques de remboursement, elle aide les utilisateurs à éviter les pertes de données et facilite leur gestion personnelle.<br>

                                    Enfin, cette application élimine les erreurs fréquentes dans la validation ou le rejet des demandes, grâce à un processus clair et structuré. Elle s'impose comme un outil essentiel pour optimiser la gestion des remboursements, améliorer l'expérience utilisateur, et garantir une relation de confiance durable.
                                </p>
                            </div>
                        </div>
                    </div><!--/.row-->
                </div><!--/.contact-content-->
            </div><!--/.container-->

        </section><!--/.contact-->
        <!--contact end -->

        <!--footer-copyright start-->
        <footer id="footer-copyright" class="footer-copyright">
            <div class="container">
                <div class="hm-footer-copyright text-center">
                    <p>
                        copyright  &copy; {{currentYear}} Conseil Burkinabè des Chargeurs.
                    </p><!--/p-->
                </div><!--/.text-center-->
            </div><!--/.container-->

            <div id="scroll-Top">
                <div class="return-to-top">
                    <i class="fa fa-angle-up " id="scroll-top" ></i>
                </div>
				
            </div><!--/.scroll-Top-->
			
        </footer><!--/.footer-copyright-->
        <!--footer-copyright end-->
		
       
        
    </body>
	

