.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar.open {
    left: 0;
  }
  .sidebar {
    left: -300px;
  }
}



/* Par défaut, cacher la barre de recherche sur les petits écrans */
.search-bar {
  display: none;
}

/* Afficher la barre de recherche quand la classe 'show-search-bar' est ajoutée */
.show-search-bar {
  display: block;
}

/* Pour les écrans de plus de 1000px, afficher la barre de recherche */
@media (min-width: 1000px) {
  .search-bar {
    display: block;
  }
}
